GRPC_PORT=50054
DB_HOST=postgres-brigade
DB_PORT=5432
DB_USERNAME=brigade_user
DB_PASSWORD=change-me
DB_NAME=brigade_db
SSLMODE=disable
POSTGRES_USER=brigade_user
POSTGRES_PASSWORD=change-me
POSTGRES_DB=brigade_db
DEPARTMENT_GRPC_ADDR=department-service:50053
PROFILE_GRPC_ADDR=profile-service:50055
KAFKA_BROKERS=kafka:9092
OUTBOX_WORKER_COUNT=4
PROFILE_CONSUMER_WORKER_COUNT=4
PROFILE_RETRY_WORKER_COUNT=2
PROFILE_KAFKA_GROUP_ID=brigade-profile-projection-v1
