GATEWAY_ADDR=:8081
AUTH_SERVICE_ADDR=auth-service:50051
TICKET_SERVICE_ADDR=ticket-service:50052
DEPARTMENT_SERVICE_ADDR=department-service:50053
BRIGADE_SERVICE_ADDR=brigade-service:50054
PROFILE_SERVICE_ADDR=profile-service:50055
LOCATION_SERVICE_ADDR=location-service:50056
ROUTING_SERVICE_ADDR=routing-service:50057
JWT_PUBLIC_KEY_PATH=/app/keys/public.pem
JWT_ISSUER=auth-jwt
JWT_AUDIENCE=api-gateway
