GRPC_PORT=50052
DB_HOST=postgres-ticket
DB_PORT=5432
DB_USERNAME=ticket_user
DB_PASSWORD=change-me
DB_NAME=ticket_db
SSLMODE=disable
POSTGRES_USER=ticket_user
POSTGRES_PASSWORD=change-me
POSTGRES_DB=ticket_db
KAFKA_BROKERS=kafka-1:9092,kafka-2:9092,kafka-3:9092
OUTBOX_WORKER_COUNT=4
