GRPC_PORT=50053
DB_HOST=postgres-department
DB_PORT=5432
DB_USERNAME=department_user
DB_PASSWORD=change-me
DB_NAME=department_db
SSLMODE=disable
POSTGRES_USER=department_user
POSTGRES_PASSWORD=change-me
POSTGRES_DB=department_db
KAFKA_BROKERS=kafka:9092
OUTBOX_WORKER_COUNT=4
