GRPC_PORT=50055
DB_HOST=postgres-profile
DB_PORT=5432
DB_USERNAME=profile_user
DB_PASSWORD=change-me
DB_NAME=profile_db
SSLMODE=disable
POSTGRES_USER=profile_user
POSTGRES_PASSWORD=change-me
POSTGRES_DB=profile_db
AUTH_GRPC_ADDR=auth-service:50051
DEPARTMENT_GRPC_ADDR=department-service:50053
KAFKA_BROKERS=kafka:9092
OUTBOX_WORKER_COUNT=4
